Amazon VPC -- virtual private network it allows the resource of the cloud to intract with each other on the cloud it block public access to the resources . it provides a vitual environment in the cloud . after creating a vpc attach it to your resources . in vpc we can make subsets of ip addresss and add it to the resources . Now to have our resource or ecs instance be publically accessible we add internet gateway which will allow public access . it is always recommended to add your resouces at two availability zone if one goes down so other keep working 

ACL and  security group

ACL(access contolled list)----- acl lets you allow what kind of traffic is allowed to enter or leave your subnet.

security group ---  can create a virtual firewall called a security group. in this we also filter the traffic while configuring we dont have to add outbound rule as it is a stateful protocol  it remembers from the where the souce originated

