{% extends  "layout.html" %}
{% block body %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul style="color: green; text-align: center; list-style: none;">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    
    

{% if contact =='notallowed' %}

<div class="redalert"> You can only contact if your login </div>

{% for i in post_details%}
<section class="post">
    <article class="post1">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h1 class="postheader">{{i[3]}} </h1>
            <h4 class="postheader" style="margin: 0;">{{i[6]}}</h4>
        </div>
        <div class="post2" >
        {{i[5]}}
        </div>
        {% if i[7]!='noimage' %}
        <div style="display: flex; justify-content: center; align-items: center;">
            <img src="{{i[7]}}" alt="Uploaded Image" style="width: 100%; max-width: 800px; height: 600px;" >
        </div>
        {% endif %}
        <div>
            <address style="width: 300px;">
                <p>{{i[9]}}</p>
                <p>{{i[10]}}</p>
            </address>
        </div>
    
       
</article>
</section>

{% endfor %}

{% else %}
{% for i in post_details%}
<section class="post">
    <article class="post1">
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <h1 class="postheader">{{i[3]}} </h1>
        <h4 class="postheader" style="margin: 0;">{{i[6]}}</h4>
    </div>
    <div class="post2" >
    {{i[5]}}
    </div>
    {% if i[7]!='noimage' %}
    <div style="display: flex; justify-content: center; align-items: center;">
        <img src="{{i[7]}}" alt="Uploaded Image" style="width: 100%; max-width: 800px; height: 600px;" >
    </div>
    {% endif %}
    <div>
        <address style="width: 300px;">
            <p>{{i[9]}}</p>
            <p>{{i[10]}}</p>
        </address>
    </div>

   

{% if contact =='allowed' %}
<div  class="post4">
    <form action="usercontact" method="post">
        <input type="submit" value="Contact" class="contactbutton" >
        <input type="text" value="{{i[0]}}" name="postid" style="display:none">
        <input type="text" value="{{i[2]}}" style="display:none" name="username">
    </form>
</div>
{% endif %}
</article>
</section>

{% endfor %}



{% endif %}


{% endblock%}