{% extends  "layout.html" %}
{% block body %}


{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul style="color: green; text-align: center; list-style: none;">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    
{% if contact=='notallowed' %}
<div class="redalert"> You can only contact if your login </div>

{% for i in data %}

<main class="post">
<section class="post1">
    <div style="display: flex; justify-content: space-between;">
    <h1>{{i[3]}}</h1> 
    <h3>{{i[8]}}</h3>
    </div>
    <div>   
    <p class="post2">{{i[4]}}</p>
    </div>
    {% if i[10]!='noimage' %}
    <div style="display: flex; justify-content: center; align-items: center;">
        <img src="{{i[10]}}" alt="Uploaded Image" style="width: 100%; max-width: 800px; height: 600px;" >
    </div>
    {% endif %}
 
    <h4>Quantity: {{i[5]}}</h4>
    <h4> Pick Up Time: {{i[7]}}</h4>
    <address >{{i[6]}}</address>

</section>


</main>


{% endfor %}

{% else %}

{% for i in data %}

<main class="post">
<section class="post1">
    <div style="display: flex; justify-content: space-between;">
    <h1>{{i[3]}}</h1> 
    <h3>{{i[8]}}</h3>
    </div>
    <div>   
    <p class="post2">{{i[4]}}</p>
    </div>
    {% if i[10]!='noimage' %}
    <div style="display: flex; justify-content: center; align-items: center;">
        <img src="{{i[10]}}" alt="Uploaded Image" style="width: 100%; max-width: 800px; height: 600px;" >
    </div>
    {% endif %}
 
    <h4>Quantity: {{i[5]}}</h4>
    <h4> Pick Up Time: {{i[7]}}</h4>
    <address >{{i[10]}}</address>



    {%if contact=='allowed'%}
    <div class="post4" >
    <form action="foodcontact" method="post">
        <input type="submit" value="Contact" class="contactbutton">
        <input type="text" name="username" value="{{i[1]}}" style="display: none;">
        <input type="text"  name="postid" value="{{i[0]}}" style="display: none;">
    </form>
</div>
    {% endif %}

</section>


</main>


{% endfor %}

    
{% endif %}



{% endblock%}