{% extends  "layout.html" %}
{% block body %}

<style>
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
</style>
    
    
<section class="coverimg">
    <img src="/images/cover.jpg" alt="coverimages" class="coverimg1">
</section>


<!-- facts-->
<section class="third">
    <div class="blocks">
        <h4 class="inside-block">Almost 3.1 billion people could not afford a healthy diet in 2020,
            8% of the world population will still be facing hunger in 2030  </h4>
        <h4 class="inside-block" >The proportion of the global population with access to safely managed drinking water has increased from 62% in 2000 to 74% in 2020. </h4>
        <h4 class="inside-block">Spare a thought for those who are homeless or in temporary accommodation</h4>
    </div>
</section>




<section class="trychange">
    <div>
        <h1 style="color: #2F4F4F; font-family: Lora, serif; box-shadow: 1px 1px 10px; padding: 10px; margin: 10px;">"Maybe 
            it takes a hundred years to change society, but we can at least try."</h1>
    </div>
    <div>
        <h3 style="color: #2F4F4F; font-family: Lora, serif;"> Even small efforts can ripple through time,
             influencing future generations. 
            Change may be slow, but by trying—whether through education, advocacy, or everyday 
            kindness—we contribute to a collective effort that, over time, can reshape society for the better. 
            Each step counts, even if the journey is long.</h3>
    </div>
</section>


<section class="foodwastage">
    <div class="foodwastagearticle">
        <h1 class="foodwastage1" >
            Food wastage during weddings and large functions is a common problem. Excessive food preparation often 
            leads to significant leftovers, which frequently go to waste. Poor planning, buffet culture, and 
            guest unpredictability contribute to the issue. Addressing this requires smarter portion control,
             redistributing surplus to charities, and encouraging guests to take leftovers, reducing 
             both environmental and economic costs.</h1>
    </div>
    <div class="foodwastageimage">
        <img  class="foodwastageimage1" src="/images/foodwastage.webp" alt="foodwastage">
    </div>
</section>

<section class="bookswastage">
        <div class="bookswastage1">
            <img src="/images/oldbooks.webp" alt="bookswastageimage" class="bookswastage1">
        </div>
        <div class="bookswastage2">
        <h1 style="color: azure; font-family: PT Serif, serif; font-weight: 400; " class="bookswastage2">
            Book wastage to the unnecessary disposal or overproduction of books, often resulting in 
            large quantities ending up in landfills. This can occur due to unsold stock, outdated editions, 
            or damaged copies. The environmental impact includes deforestation, energy consumption, 
            and waste generation. To reduce book wastage, options like donating to libraries or charities, 
            recycling, using digital formats, and promoting book-sharing programs can help preserve resources.
            Mindful consumption, reusing materials, and implementing print-on-demand policies can also help minimize 
            waste and create a more sustainable workplace or learning environment.</h1>
        </div>
</section>

<section class="clothes">
    <div class="clothes1">
        <h2 style="color: #DFD0B8;  font-family: PT Serif, serif; font-weight: 400;" class="clothes1">Clothes and blankets are essential for providing warmth and protection, particularly for vulnerable 
            populations like the homeless and those in need during colder months. Unfortunately, many perfectly 
            usable items are wasted as people discard old clothes and blankets instead of donating them.
             Textile waste contributes significantly to landfills, while those in need struggle without basic 
             necessities. Reducing waste by donating gently used clothes and blankets to shelters, charities, 
             or recycling programs can help bridge the gap, reduce environmental impact, and support communities 
             in need.</h2>
    </div>
    <div class="clothes2">
        <img src="/images/clothes.webp" alt="clothesneededimage" class="clothes2">
    </div>
</section>



<section class="makingchange">

    <div class="makingchange1">
        <h1 id="textcolor" style="text-decoration: underline;">Reduce Food Wastage by Donating Leftovers</h1>
        <h3 id="textcolor">"Food wastage is a major problem, especially from places like restaurants,
             hostels mess, hotel, and large events. Instead of letting edible food go to waste,
              you can make a real difference by donating it to people or organizations in need. 
              This website allows you to create posts about leftover food in good condition and connect
               with those who need it."</h3>
    </div>

    <div class="makingchange2">
        <h2 id="textcolor">How It Works:</h2>
        <ol id="textcolor" class="makingchange2">
            <li>Create a Post for Leftover Food
                <ul>
                    <li>If you have leftover food that is in good condition, 
                        simply create a post detailing what you have available, 
                        the quantity, and the pickup location.
                    </li>
                    <li>
                        You can also specify whether the food is from a restaurant, hostel mess, hotel, or 
                        personal event.
                    </li>
                </ul>
            </li>
            <li>Connect with Organizations or People in Need
                <ul>
                    <li>
                        Organizations that require food on a regular basis, such as homeless shelters, community kitchens, 
                        or food banks, can connect with you through the website.
                    </li>
                    <li>Individuals who need food for their families or themselves can also reach out to request food.</li>
                </ul>
            </li>
            <li>
                Reduce Wastage, Help the Community
                <ul>
                    <li>By donating leftover food, you not only reduce food wastage but also help address hunger
                        in your community.
                    </li>
                    <li>
                        Large establishments like restaurants, hotels, or event organizers can make a huge impact by consistently 
                        donating food to local charities and shelters.
                    </li>

                </ul>
            </li>
        </ol>
    </div>

    <div class="makingchange3">
        <h1 style="text-decoration: underline;" id="textcolor">Donate Your Unused Books and Stationery!</h1>
        <ul id="textcolor"  >
            <li>If you have books that you no longer use, consider donating them through this platform. 
                You can create a post detailing the books you want to give away, and if someone is interested,
                 they can contact you directly.</li>
            <li>Additionally, if you wish to donate stationery to support children's education, you can also 
                reach out to organizations listed here. Just make a post, and others will get in touch with you.
            </li>
        </ul>
    </div>

    <div class="makingchange4">
        <h1 id="textcolor" style="text-decoration: underline;">Donate Clothes and Blankets to Those in Need</h1>
        <ul id="textcolor" >
            <li>As temperatures drop, many people and children struggle to stay warm. You can make a difference by donating unused clothes and 
                blankets. Your contributions can help those in need during the colder months.
            </li>
            <li>
                You can either reach out to organizations that are actively working to distribute warm clothing and blankets, or you can donate directly. Every little bit helps, and together, 
                we can provide warmth and support to those who need it most.
            </li>
        </ul>
    </div>

</section>

<section class="last">
    <section class="wellwishers">
    <div class="wellwishers1">
        <h1>Wellwishers</h1> 
        <p>These are the people who are helping change society by taking steps toward a better future. Here’s how they help:</p>
        <ul>
            <li>By donating their clothes that are in good condition but no longer in use.</li>
            <li>By donating leftover food that is still good to eat so that, rather than wasting it, others can eat it.</li>
            <li>By donating books they have read, and if anyone else needs them, they can contact them for donation.</li>
            <li>They can also contact organizations (NGOs) to offer help.</li>
            <li>Not just these things, but many other items in good condition that someone else can use.</li>
        </ul>
        <p>If you want to be a well-wisher, just <a href="{{url_for('login')}}" style="text-decoration: none;">login </a>and start helping others!</p>
    </div>

    <div  class="wellwishers2">
        <img src="/images/wellwisher.png" alt="wellwishers" class="wellwishersimage" >
    </div>

</section>

<section class="organizations">
    <div class="organizations1" >
        <h1>Organizations</h1>
        <p>  Organizations are always working for the society for free. If you are an organization
             that needs help in changing society, this may be the platform where you can get help, 
             not in the form of money but other resources.</p>
        <ul>
            <li>Organizations can post about the resources they need to do their work.</li>
            <li>Organizations can contact well-wishers who are donating food.</li>
            <li>If an NGO runs an old-age home, they can ask for blankets, etc.</li>
            <li>If you are an organization that works for animals, you can ask if anyone wants to adopt an animal.</li>
        </ul>
        <p>And there are many more things you can do with this site!</p>
    </div>
    <div class="organizations2">
        <img src="/images/organization.1jpg.jpg" alt="organizationimage" class="organizationimage">
    </div>
</section>


<section class="food">
    <div class="food1">
        <h1>Food</h1>
        <p>Food wastage is a very common problem. People often make too much food for their attendees, and the food is left over.</p>
        <ul>
            <li>With this site, you can post about leftover food, but the food should be in edible condition.</li>
            <li>You should store the food in a proper environment.</li>
            <li>Just make a post about it, and people will contact you.</li>
        </ul>
    </div>
    <div  class="food2">
        <img src="/images/food1.png" alt="food" class="foodimage">
    </div>
</section>

    <h1>Remember</h1>
    <p>We do not arrange the delivery of items; we only connect people. After contacting each other, you can arrange delivery yourselves. For items, you can use a courier service. For food, you can make arrangements to bring it to those in need.</p>
    <h2 id="textcolor" >Thank you for your generosity!</h2>
</section>




{% endblock%}
